@using StardewClient.Services
@using StardewShared.DTOs
@inject CropService cropService


<div class="dropdown-container">


</div>


@code {
    private List<CropResDto> crops;

    protected override async Task OnInitializedAsync()
    {
        crops = await cropService.GetCropsAsync();
    }
}
