@page "/"

<PageTitle>Home</PageTitle>
<div class="crop-selection-box">
    <div class="left">

    </div>
    <div class="right">

    </div>

</div>

<div class="crop-information-box">
    <div class="upper">

    </div>
    <div class="lower">

    </div>
</div>


